.mcqueen{
	width: 300px;
}

.chickhicks{
	width: 300px;
}

.stripweathers{
	width: 300px;
}

.jacksonstorm{
	width: 300px;
}

.dochudson{
	width: 300px;
}

.h1{
	text-align: center;
}